* {
    margin:0;padding:0;background:#000;
    color:#fff;
    
}

h1 {
    font-size:4.0em;margin:10px 0 20px 10px;color:#50d7ff;
    text-align: center;
    margin: 20px;
}


h2 {
    font-size:2.6em;margin:10px 0 20px 10px;color:#50d7ff;
    text-align: center;
    margin: 20px;
}
h3 {
    font-size:1.8em;margin:10px 0 20px 10px;color:#50d7ff;
    text-align: center;
    margin: 20px;
}
h4 {
    font-size:1.8em;margin:10px 0 20px 10px;color:#50d7ff;
    text-align: center;
    margin: 20px;
}


/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    font-size: 30px;
    color: #1abc9c;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #6b6b6b;
    text-align: center;
  }
  
  /* Days (1-31) */
  .days {
    padding: 10px 0;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    height: 80px;
    text-align: center;
    margin-bottom: 5px;
    font-size:18px;
    color: #777;
  }
  
  /* Highlight the "current" day */
  .days .active {
      padding: 3px;
    border: 3px solid greenyellow;
    border-radius: 15px;
  }
  
  .days .holiday .a-day{
    color: orangered!important;
  }

  .days .holiday .b-day{
    color: rgb(255, 112, 60)!important;
  }

  .days .event{
    padding: 3px;
    border: 2px solid goldenrod!important;
    border-radius: 15px;
  }


  .days .a-day {
    font-size: 30px;
    color: whitesmoke;
  }

  .days .b-day {
    font-size: 20px;
    color: #b5b5b5;
  }